body{

margin:0;
font-family:Georgia;
text-align:center;
transition:0.4s;

}

.container{

max-width:700px;
margin:auto;
padding:40px;

}

.photo{

width:220px;
border-radius:12px;

}

.buttons a{

display:inline-block;
margin:10px;
padding:15px 25px;
background:black;
color:white;
text-decoration:none;
border-radius:8px;

}

.top-buttons{

position:fixed;
top:10px;
left:10px;

}

/* tema gótico */

body.goth{

background:black;
color:#eee;

}

/* tema vermelho */

body.red{

background:#2a0000;
color:white;

}

ul{

list-style:none;
padding:0;

}

li{

margin:10px;

}
